<template lang="pug">
	.age-gate-form
		.error-list(v-if="errorList.length > 0 || errorMessage")
			p {{errorMessage || 'Please correct the highlighted areas to continue.'}}
				ul(v-if="errorList.length > 0")
					li(v-for="error in errorList") *{{error}}
		.form-wrapper
			form(@submit.prevent="submitForm")
				div.form-label
					label Enter your birthdate:
				div.form-group
					div.col.col-3.form-field.input-wrapper(:class="{'error': form.month.valid === false }")
						//- input(type="tel" name="month" placeholder="MM" v-model="form.month.value")
						multiselect.month-select(@input="onChange", v-model="form.month.value", :options="MONTHS", placeholder="MM", :showLabels="false", :searchable="false", :allow-empty="false")
					div.col.col-3.form-field.input-wrapper(:class="{'error': form.day.valid === false }")
						//- input(type="tel" name="day" placeholder="DD" v-model="form.day.value")
						multiselect.day-select(@input="onChange", v-model="form.day.value", :options="DAYS", placeholder="DD", :showLabels="false", :searchable="false", :allow-empty="false")
					div.col.col-3.form-field.input-wrapper(:class="{'error': form.year.valid === false }")
						//- input(type="tel" name="year" placeholder="YYYY" v-model="form.year.value")
						multiselect.year-select(@input="onChange", v-model="form.year.value", :options="YEARS", placeholder="YYYY", :showLabels="false", :searchable="false", :allow-empty="false")
				div.form-submit
					input(type="submit" :value="loading === true ? 'Loading' : 'Enter'")
</template>

<script>
import { getModel } from '../form/models/AgeGate'
import { required, exactLength, numeric } from '../form/Validations'
import { validDate, minAgeDate, maxAgeDate, MONTHS, DAYS, YEARS } from '../form/DateValidations'

import VueMultiselect from 'vue-multiselect'

export default {
	components: {
		'multiselect': VueMultiselect,
	},
	props:{
		minAge: {
			default: 18,
		},
		maxAge: {
			default: 116
		},
		loading: {
			default: false,
		},
	},
	computed: {
		birthday () {
			return `${this.form.month.value}/${this.form.day.value}/${this.form.year.value}`
		},
	},
	data () {
		return {
			birthdayValid: true,
			errorMessage: null,
			errorList: [],
			form: getModel(),
			MONTHS,
			DAYS,
			YEARS,
		}
	},
	methods: {
		onChange: function () {
      		this.$emit('input', this.value)
    	},
		setErrors (message = null, list = []) {
			this.errorMessage = message
			this.errorList = list
		},
		submitForm () {
			let validate = this.validateForm()
			this.$emit('submit', validate)
			if(validate) {
				if (minAgeDate(this.birthday, this.minAge) === false) {
					this.$emit('verified', false)
				} else if (maxAgeDate(this.birthday, this.maxAge) === true) {
					this.$emit('verified', false)
				} else {
					this.$emit('verified', true)
				}
			}
		},
		validateForm () {
			let valid = true
			this.setErrors()

			if(this.validateBirthdate() === false){
				valid = false
			}

			return valid
		},
		validateBirthdate () {
			
			let valid = true
			this.birthdayValid = true

			if (required(this.form.month.value) === false) {
				this.errorList.push('Birthdate month is required')
				this.form.month.valid = false
				this.birthdayValid = false
				valid = false
			} else if(exactLength(this.form.month.value, 2) === false || numeric(this.form.month.value) === false) {
				this.errorList.push('Birthdate month is invalid')
				this.form.month.valid = false
				this.birthdayValid = false
				valid = false
			} else {
				this.form.month.valid = true
			}

			if (required(this.form.day.value) === false) {
				this.errorList.push('Birthdate day is required')
				this.form.day.valid = false
				this.birthdayValid = false
				valid = false
			} else if(exactLength(this.form.day.value, 2) === false || numeric(this.form.day.value) === false) {
				this.errorList.push('Birthdate day is invalid')
				this.form.day.valid = false
				this.birthdayValid = false
				valid = false
			} else {
				this.form.day.valid = true
			}

			if (required(this.form.year.value) === false) {
				this.errorList.push('Birthdate year is required')
				this.form.year.valid = false
				this.birthdayValid = false
				valid = false
			} else if(exactLength(this.form.year.value, 4) === false || numeric(this.form.year.value) === false) {
				this.errorList.push('Birthdate year is invalid')
				this.form.year.valid = false
				this.birthdayValid = false
				valid = false
			} else {
				this.form.year.valid = true
			}

			if(this.birthdayValid === true) {
				if (validDate(this.birthday) === false) {
					this.birthdayValid = false
					valid = false
					this.errorList.push('Birthdate is invalid')
				}
			}
			return valid
		},
	}
}
</script>