<template lang="pug">
  .captcha
    vue-recaptcha.captcha__recaptcha(
      ref="recaptcha"
      :sitekey="captchaKey"
      theme="light"
      @verify="onVerify"
      @expired="resetRecaptcha"
    )
</template>

<script>
import debug from 'debug'
import VueRecaptcha from 'vue-recaptcha'

const log = debug('component:Captcha')

export default {
  name: 'captcha',
  props: {
    captchaKey: {
      default: ''
    },
  },
  data: () => ({
    captchaResponse: null,
  }),
  mounted() {
    log('Mounted')
  },
  beforeCreate: function () {
    if (!window.recaptcha) {
      let recaptchaScript = document.createElement('script')
      recaptchaScript.defer = 'defer'
      recaptchaScript.async = true
      recaptchaScript.src = 'https://www.google.com/recaptcha/api.js?onload=vueRecaptchaApiLoaded&render=explicit'
      document.body.appendChild(recaptchaScript)
    }
  },
  computed: {
    isValid () {
      return this.captchaResponse !== null
    },
  },
  methods: {
    resetRecaptcha () {
      this.captchaResponse = null
      this.$refs.recaptcha.reset()
    },
    onVerify (response) {
      this.captchaResponse = response
      if (response.length === 0) {
        this.captchaResponse = null
      } else {
        this.captchaResponse = response
      }
    },
  },
  components: {
    VueRecaptcha,
  },
}
</script>

<style lang="scss">
.captcha {
  &__recaptcha {
    padding: 0.75rem 0 0.25rem;

    > div {
      margin: 0 auto;
    }
  }

  &__errors {
    // position: absolute;
    // right: 0;
    // transform: translateY(0.2rem);
    // font-size: px-rem(12.5);
    // color: $brand_red;
  }
}
</style>
