<template lang="pug">
	.code-entry-form
		.error-list(v-if="errorList.length > 0 || errorMessage")
				p {{errorMessage || 'Please correct the highlighted areas to continue.'}}
					ul(v-if="errorList.length > 0")
						li(v-for="error in errorList") *{{error}}
		.form-wrapper
			form(@submit.prevent="sumbitForm")
				.row
					div.col.col-1.form-field.input-wrapper(:class="{'error': form.code.valid === false}")
						input(type="text" name="code" :placeholder="extraCode ? 'Code 1' : 'Enter Code'" v-model="form.code.value")
						.inline-error(v-if="inlineErrors['code']")
							span {{inlineErrors['code']}}
				.row(v-if="extraCode")
					div.col.col-1.form-field.input-wrapper(:class="{'error': form.code02.valid === false}")
						input(type="text" name="code02" placeholder="Code 2" v-model="form.code02.value")
						.inline-error(v-if="inlineErrors['code02']")
							span {{inlineErrors['code02']}}
				.row(v-if="useRetailers")
					div.col.col-1.form-field.input-wrapper(:class="{'error': form.retailer.valid === false}")
						multiselect.retailer-select(@input="onChange", v-model="form.retailer.value", :options="RETAILER_LIST", placeholder="Where'd you get your Crunch?", :showLabels="false", :searchable="false", :allow-empty="false")
						.inline-error(v-if="inlineErrors['retailer']")
							span {{inlineErrors['retailer']}}
				.row.bottom-slot
					slot(name="bottom")
				.row.input-wrapper
					div.col
						input(type="submit" :value="loading === true ? 'Loading' : 'Submit'" :class="{ disabled: !allRequiredFieldsCompleted }")
</template>

<script>
import { getModel, RETAILER_LIST } from '../form/models/Code'
import { required, minMaxLength, sameAs } from '../form/Validations'

import VueMultiselect from 'vue-multiselect'

export default {
	components: {
		'multiselect': VueMultiselect,
	},
	props: {
		loading: {
			default: false,
		},
		useRetailers: {
			default: false,
		},
		minLength: {
			default: 3,
		},
		maxLength: {
			default: 20,
		},
		defaultValue: {
			default: '',
		},
		defaultCodes: {
			default: [],
		},
		defaultRetailer: {
			default: '',
		},
		extraCode: {
			default: false,
		},
	},
	data () {
		return {
			errorMessage: null,
			inlineErrors: {},
			errorList: [],
			form: getModel(),
			RETAILER_LIST,
		}
	},
	mounted() {
		this.form.code.value = this.defaultValue
		if (this.defaultCodes.length > 1) {
			this.form.code.value = this.defaultCodes[0]
			this.form.code02.value = this.defaultCodes[1]
		}
		if (this.defaultRetailer) {
			this.form.retailer.value = this.defaultRetailer
		}
	},
	computed: {
		allRequiredFieldsCompleted() {
			if (
				(required(this.form.code.value) === false) ||
				(minMaxLength(this.form.code.value, this.minLength, this.maxLength) === false)
				) {
				return false
			}
			if (
				(this.extraCode && required(this.form.code02.value) === false) ||
				(minMaxLength(this.form.code02.value, this.minLength, this.maxLength) === false)
				) {
				return false
			}
			if(this.useRetailers && required(this.form.retailer.value) === false) {
				return false
			}
			return true
		},
	},
	methods: {
		onChange: function () {
      		this.$emit('input', this.value)
    	},
		sumbitForm () {
			let valid = this.validateForm()
			if (valid) {
				this.$emit('submit', {
					valid,
					data: this.getFormData(),
				})
			}
		},
		validateForm () {
			let valid = true
			this.setErrors()

			if (required(this.form.code.value) === false) {
				this.form.code.valid = false
				valid = false
				this.inlineErrors['code'] = '*Required field'
			} else if (minMaxLength(this.form.code.value, this.minLength, this.maxLength) === false) {
				this.form.code.valid = false
				valid = false
				this.inlineErrors['code'] = '*Invalid Code'
			} else {
				this.form.code.valid = true
			}

			if (this.extraCode) {
				if (required(this.form.code02.value) === false) {
					this.form.code02.valid = false
					valid = false
					this.inlineErrors['code02'] = '*Required field'
				} else if (minMaxLength(this.form.code02.value, this.minLength, this.maxLength) === false) {
					this.form.code02.valid = false
					valid = false
					this.inlineErrors['code02'] = '*Invalid Code'
				} else if (sameAs(this.form.code.value, this.form.code02.value) === true) {
					this.form.code02.valid = false
					valid = false
					this.inlineErrors['code02'] = '*Duplicate Code'
				} else {
					this.form.code02.valid = true
				}
			}

			if(this.useRetailers){
				if (required(this.form.retailer.value) === false) {
					this.form.retailer.valid = false
					valid = false
					this.inlineErrors['retailer'] = '*Required field'
				} else {
					this.form.retailer.valid = true
				}
			}

			return valid
		},
		getFormData () {
			let data = {
				codes: [
					this.form.code.value,
				],
			}
			if(this.extraCode){
				data.codes.push(this.form.code02.value)
			}
			if(this.useRetailers){
				data.retailer = this.form.retailer.value
			}
			return data
		},
		setErrors (message = null, list = [], inline = null) {
			this.inlineErrors = {}
			this.errorMessage = message
			this.errorList = list
		},
		resetForm () {
			this.form = getModel()
			this.setErrors()
		},
	},
}
</script>