<template lang="pug">
  .image-slider
    .slider(ref="slider")
      slot
    .image-nav
      a.slider-btn.prev-btn(@click="prev")
      ol.page-dots
        li.dot(v-for="index in count" @click="dot(index-1)" :class="{'is-selected': index-1 === currentItem}")
      a.slider-btn.next-btn(@click="next")
</template>

<script>
import 'flickity/css/flickity.css'
import 'flickity-imagesloaded'
import Flickity from 'flickity'

import debug from 'debug'
const log = debug('component:ImageSlider')

export default {
  name: 'ImageSlider',
  props: {
    callback: {
      default: null,
    },
    loop: {
      default: true,
    },
    autoPlay: {
      default: false,
    },
  },
  data () {
    return {
      slider: null,
      count: 0,
      currentItem: 0,
      sliderReady: null,
      sliderChange: null,
    }
  },
  methods: {
    prev() {
      this.slider.previous()
    },
    next() {
      this.slider.next()
    },
    dot(index) {
      this.slider.select( index, true)
    },
  },
  mounted() {

    this.$nextTick(() => {

      this.sliderChange = function(index) {
        this.currentItem = index
        if(this.callback) {
          this.callback(index)
        }
      }.bind(this)

      this.slider = new Flickity(this.$refs.slider, {
        imagesloaded: true,
        prevNextButtons: false,
        pageDots: false,
        wrapAround: this.loop,
        autoPlay: this.autoPlay
      })

      this.count = this.slider.slides.length

      this.slider.on('change', this.sliderChange)
      this.slider.resize() //Fixes initialization offset issues
    })
  }
}
</script>


<style lang="scss" scoped>
.slider{
  width: 100%;
}
.image-nav{
  text-align: center;
  padding: 10px 0 8px;
}
.slider-btn{
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  width: 20px;
  height: 20px;
  background-color: #fff;
  cursor: pointer;
  margin: 0 5px;
  &.prev-btn{
    transform: rotate(-180deg);
  }

}

.page-dots{
  display: inline-block;
  .dot{
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 2px solid #fff;
    border-radius: 50%;
    margin: 0 5px;
    transition: .3s;
    cursor: pointer;
    &:hover{
      background-color: rgba(255,255,255,.5);
    }
    &.is-selected{
      background-color: #fff;
    }
  }
}
</style>