<template lang="pug">
	.login-form
		.error-list(v-if="errorList.length > 0 || errorMessage")
				p {{errorMessage || 'Please correct the highlighted areas to continue.'}}
					ul(v-if="errorList.length > 0")
						li(v-for="error in errorList") *{{error}}
		.form-wrapper
			form(@submit.prevent="sumbitForm")
				.row
					div.col.col-1.form-field.input-wrapper(:class="{'error': form.email.valid === false}")
						input(type="text" name="email" placeholder="Email" v-model="form.email.value")
						.inline-error(v-if="inlineErrors['email']")
							span {{inlineErrors['email']}}
				.row.captcha(v-if="useCaptcha && captchaKey !== ''")
					div.col.input-wrapper
						Captcha(ref='captcha' :captchaKey="captchaKey")
						.inline-error(v-if="inlineErrors['captcha']")
							span {{inlineErrors['captcha']}}
				.row.input-wrapper
					div.col
						input(type="submit" :value="loading === true ? 'Loading' : 'Sign In'")
</template>

<script>
import { getModel } from '../form/models/Login'
import { required, email } from '../form/Validations'

import Captcha from './Captcha'

export default {
	components: {
		Captcha,
	},
	props: {
		loading: {
			default: false,
		},
		useCaptcha: {
			default: false,
		},
		captchaKey: {
			default: '',
		},
	},
	data () {
		return {
			errorMessage: null,
			inlineErrors: {},
			errorList: [],
			form: getModel(),
		}
	},
	methods: {
		sumbitForm () {
			let valid = this.validateForm()
			this.$emit('submit', {
				valid,
				data: this.getFormData(),
			})
		},
		validateForm () {
			let valid = true
			this.setErrors()

			if (required(this.form.email.value) === false) {
				this.form.email.valid = false
				valid = false
				this.inlineErrors['email'] = '*Email is required'
			} else if (email(this.form.email.value) === false) {
				this.form.email.valid = false
				valid = false
				this.inlineErrors['email'] = '*Email is invalid'
			} else {
				this.form.email.valid = true
			}

			return valid
		},
		getFormData () {
			return {
				email: this.form.email.value,
				gRecaptchaResponse: this.useCaptcha ? this.$refs.captcha.captchaResponse : 'not-used',
			}
		},
		setErrors (message = null, list = []) {
			this.errorMessage = message
			this.errorList = list
			this.inlineErrors = {}
		},
		resetForm () {
			this.form = getModel()
			this.setErrors()
		},
	},
}
</script>