<template lang="pug">
	.modal-base
		.modal-base--background(@click="handleClose")
		.modal-base--inner
			slot
				h1 ModalBase
			.modal-base--close(@click="handleClose" v-if="userClose")
</template>

<script>
export default {
	props: {
		userClose: {
			default: true,
		},
	},
	methods: {
		handleClose() {
			if(this.userClose){
				this.$emit('close')
			}
		}
	}
}
</script>

<style lang="scss" scoped>
.modal-base{
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 50px;

	&--background{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(0,0,0,.5);
	}

	&--inner{
		position: relative;
		width: 100%;
		background-color: $white;
		max-width: 900px;
		padding: 0;
	}

	&--close{
		position: absolute;
		top: 15px;
		right: 15px;
		width: 40px;
		height: 40px;
		background-color:red;
	}

}
</style>