<template lang="pug">
	div.register-form
		.content
			.error-list(v-if="errorList.length > 0 || errorMessage")
				p {{errorMessage || 'Please correct the highlighted areas to continue.'}}
					ul(v-if="errorList.length > 0")
						li(v-for="error in errorList") *{{error}}
			form(ref='form' @submit.prevent="submitForm")
				.form-wrapper
					.row.key
						div.col
							p *indicates a required field
					.row.firstname
						div.col.form-field.input-wrapper(:class="{'error': form.firstName.valid === false}")
							label First Name<sup>*</sup>
							input(type="text" name="firstName" placeholder="First Name" v-model="form.firstName.value")
							.inline-error(v-if="inlineErrors['firstName']")
								span {{inlineErrors['firstName']}}
					.row.lastname
						div.col.form-field.input-wrapper(:class="{'error': form.lastName.valid === false}")
							label Last Name<sup>*</sup>
							input(type="text" name="lastName" placeholder="Last Name" v-model="form.lastName.value")
							.inline-error(v-if="inlineErrors['lastName']")
								span {{inlineErrors['lastName']}}
					.row.email
						div.col.col-1.form-field.input-wrapper(:class="{'error': form.email.valid === false}")
							label Email<sup>*</sup>
							input(type="text" name="email" placeholder="Email" v-model="form.email.value")
							.inline-error(v-if="inlineErrors['email']")
								span {{inlineErrors['email']}}
					.row.birthdate
						div.col
							div(:class="{'error': inlineErrors['birthdate']}")
								label Birthdate (MM/DD/YYYY)<sup>*</sup>
							.row.nested
								div.col.col-3.form-field.input-wrapper(:class="{'error': form.month.valid === false || birthdayValid === false}")
									//- input(type="tel" name="month" placeholder="MM" v-model="form.month.value")
									multiselect.month-select(@input="onChange", v-model="form.month.value", :options="MONTHS", placeholder="MM", :showLabels="false", :searchable="false", :allow-empty="false")
								div.col.col-3.form-field.input-wrapper(:class="{'error': form.day.valid === false || birthdayValid === false}")
									//- input(type="tel" name="day" placeholder="DD" v-model="form.day.value")
									multiselect.day-select(@input="onChange", v-model="form.day.value", :options="DAYS", placeholder="DD", :showLabels="false", :searchable="false", :allow-empty="false")
								div.col.col-3.form-field.input-wrapper(:class="{'error': form.year.valid === false || birthdayValid === false}")
									//- input(type="tel" name="year" placeholder="YYYY" v-model="form.year.value")
									multiselect.year-select(@input="onChange", v-model="form.year.value", :options="YEARS", placeholder="YYYY", :showLabels="false", :searchable="false", :allow-empty="false")
							.inline-error.error(v-if="inlineErrors['birthdate']")
									span {{inlineErrors['birthdate']}}
					.row.zipcode
						div.col.col-3.form-field.input-wrapper(:class="{'error': form.zip.valid === false}")
							label Zip Code<sup>*</sup>
							input(type="tel" name="zip" placeholder="Zipcode (5 Digits)" v-model="form.zip.value")
							.inline-error(v-if="inlineErrors['zip']")
								span {{inlineErrors['zip']}}
					.row.rules.checkbox
						div.col.input-wrapper.checkbox-wrapper(:class="{'error': form.rules.valid === false}")
							input(id="termsCheckbox" type="checkbox" name="terms" v-model="form.rules.value")
							label(for="termsCheckbox" :class="{'error': form.rules.valid === false}") I have read and agree to the {{' '}}
								a(href="/rules" target="_blank") {{ rulesPageTitle }}
								.inline-error(v-if="inlineErrors['rules']")
									span {{inlineErrors['rules']}}
					.row.optin.checkbox(v-for="(value, name) in optins")
						div.col.input-wrapper.checkbox-wrapper
							input(:id="`${name}_cb`" type="checkbox" :name="name" v-model="optinValues[name]")
							label(:for="`${name}_cb`" v-html="value")
					.row.captcha(v-if="useCaptcha && captchaKey !== ''")
						div.col.input-wrapper
							Captcha(ref='captcha' :captchaKey="captchaKey")
							.inline-error(v-if="inlineErrors['captcha']")
								span {{inlineErrors['captcha']}}
					.row.input-wrapper.submit
						div.col
							div.submit.btn(:class="{ disabled: !allRequiredFieldsCompleted }")
								span
									input(
										type="submit"
										:value="loading === true ? 'Loading' : 'Submit'"
									)
</template>

<script>
import debug from 'debug'
import Captcha from './Captcha'

import { getModel } from '../form/models/Register'
import { required, email, exactLength, numeric } from '../form/Validations'
import { validDate, minAgeDate, maxAgeDate, MONTHS, DAYS, YEARS } from '../form/DateValidations'
import VueMultiselect from 'vue-multiselect'

const log = debug('component:EntryForm')

export default {
	components: {
		Captcha,
		'multiselect': VueMultiselect,
	},
	props: {
		loading: {
			default: false,
		},
		optins: {
			default: {},
		},
		useCaptcha: {
			default: false,
		},
		captchaKey: {
			default: '',
		},
		minAge: {
			default: 18
		},
		maxAge: {
			default: 116,
		},
		rulesPageTitle: {
			default: 'Official Rules',
		},
	},
	computed: {
		birthday () {
			return `${this.form.month.value}/${this.form.day.value}/${this.form.year.value}`
		},
		allRequiredFieldsCompleted() {
			return (
				(required(this.form.email.value) === true) &&
				(required(this.form.firstName.value) === true) &&
				(required(this.form.lastName.value) === true) &&
				(required(this.form.zip.value) === true) &&
				(required(this.form.month.value) === true) &&
				(required(this.form.day.value) === true) &&
				(required(this.form.year.value) === true) &&
				(this.form.rules.value === true)
			)
		},
	},
	data () {
		return {
			optinValues: {},
			birthdayValid: true,
			errorMessage: null,
			inlineErrors: {},
			errorList: [],
			form: getModel(),
			MONTHS,
      DAYS,
      YEARS,
		}
	},
	methods: {
		onChange: function () {
      this.$emit('input', this.value)
    },
		submitForm () {
			let valid = this.validateForm()
			this.$emit('submit', {
				valid,
				data: this.getFormData(),
			})
		},
		validateForm () {
			let valid = true
			this.birthdayValid = true
			this.setErrors()

			if (required(this.form.email.value) === false) {
				this.form.email.valid = false
				valid = false
				this.inlineErrors.email = '*Required field'
			} else if (email(this.form.email.value) === false) {
				this.form.email.valid = false
				valid = false
				this.inlineErrors.email = '*Invalid email address'
			} else {
				this.form.email.valid = true
			}

			if (required(this.form.firstName.value) === false) {
				this.form.firstName.valid = false
				valid = false
				this.inlineErrors.firstName = '*Required field'
			} else {
				this.form.firstName.valid = true
			}

			if (required(this.form.lastName.value) === false) {
				this.form.lastName.valid = false
				valid = false
				this.inlineErrors.lastName = '*Required field'
			} else {
				this.form.lastName.valid = true
			}

			if (required(this.form.zip.value) === false) {
				this.form.zip.valid = false
				valid = false
				this.inlineErrors.zip = '*Required field'
			} else if (exactLength(this.form.zip.value, 5) === false) {
				this.form.state.valid = false
				valid = false
				this.inlineErrors.zip = '*Invalid zip code'
			} else {
				this.form.zip.valid = true
			}

			if(this.validateBirthdate() === false) {
				valid = false
			}
			

			if (this.form.rules.value === false) {
				this.form.rules.valid = false
				valid = false
				this.inlineErrors.rules = '*You must agree to ' + this.rulesPageTitle
			} else {
				this.form.rules.valid = true
			}

			if(this.useCaptcha === true && this.$refs.captcha !== undefined) {
				log('Captcha Validity', this.$refs.captcha.isValid)
				if ( this.$refs.captcha.isValid !== true ) {
					valid = false
					this.inlineErrors.captcha = '*You must check and complete the reCAPTCHA requirements'
				}
			}

			return valid
		},
		validateBirthdate () {
			
			let valid = true
			this.birthdayValid = true

			if (required(this.form.month.value) === false) {
				// this.errorList.push('Birthdate month is required')
				this.form.month.valid = false
				this.birthdayValid = false
				valid = false
			} else if(exactLength(this.form.month.value, 2) === false || numeric(this.form.month.value) === false) {
				// this.errorList.push('Birthdate month is invalid')
				this.form.month.valid = false
				this.birthdayValid = false
				valid = false
			} else {
				this.form.month.valid = true
			}

			if (required(this.form.day.value) === false) {
				// this.errorList.push('Birthdate day is required')
				this.form.day.valid = false
				this.birthdayValid = false
				valid = false
			} else if(exactLength(this.form.day.value, 2) === false || numeric(this.form.day.value) === false) {
				// this.errorList.push('Birthdate day is invalid')
				this.form.day.valid = false
				this.birthdayValid = false
				valid = false
			} else {
				this.form.day.valid = true
			}

			if (required(this.form.year.value) === false) {
				// this.errorList.push('Birthdate year is required')
				this.form.year.valid = false
				this.birthdayValid = false
				valid = false
			} else if(exactLength(this.form.year.value, 4) === false || numeric(this.form.year.value) === false) {
				// this.errorList.push('Birthdate year is invalid')
				this.form.year.valid = false
				this.birthdayValid = false
				valid = false
			} else {
				this.form.year.valid = true
			}

			if(this.birthdayValid === true) {

				if (validDate(this.birthday) === false) {
					this.birthdayValid = false
					valid = false
					this.inlineErrors['birthdate'] = '*Date of birth format is MM/DD/YYYY'
				} else if (minAgeDate(this.birthday, this.minAge) === false) {
					this.birthdayValid = false
					valid = false
					this.inlineErrors['birthdate'] = `*Must be ${this.minAge} years or older to participate`
				} else if (maxAgeDate(this.birthday, this.maxAge) === true) {
					this.birthdayValid = false
					valid = false
					this.inlineErrors['birthdate'] = '*Year of birth must be 1900 or higher'
				}

			} else {
				this.inlineErrors['birthdate'] = '*Invalid birthdate'
				valid = false
			}
			return valid
		},
		getFormData () {

			let optins = []
			if(this.optinValues) {
				Object.keys(this.optinValues).forEach(handle => {
					let value = this.optinValues[handle]
					if(value) {
						optins.push({
							handle,
							value 
						})
					}
				})
			}
			
			return {
				email: this.form.email.value,
				firstName: this.form.firstName.value,
				lastName: this.form.lastName.value,
				zipcode: this.form.zip.value,
				birthday: `${this.form.year.value}-${this.form.month.value}-${this.form.day.value}`,
				rules: this.form.rules.value,
				optins,
				gRecaptchaResponse: this.useCaptcha ? this.$refs.captcha.captchaResponse : 'not-used',
			}
		},
		setErrors (message = null, list = []) {
			this.errorMessage = message
			this.errorList = list
			this.inlineErrors = {}
		},
		resetCaptcha () {
			if (this.useCaptcha && this.$refs.captcha) {
				this.$refs.captcha.resetRecaptcha()
			}
		},
		resetForm () {
			this.form = getModel()
			this.setErrors()
			this.resetCaptcha()
		},
	},
}
</script>

<style lang="scss" scoped>
	@import url(./../style/form.scss);
	.form-wrapper{
		margin: 0 -20px;
		width: 100%;
		max-width: 800px;
	}

	.key{
		p{
			margin-bottom: 0px;
		}
	}

	.row {
		display: flex;
		width: calc(100% + 40px);
		margin-bottom: 24px;
		&.nested{
			width: calc(100% + 40px);
			margin-left:-20px;
			margin-right:-20px;
			margin-bottom: 0;
		}
	}

	.col{
		flex-grow: 1;
		margin: 0 20px;
	}

	.form-field {
		&:before {
			border: none;
		}
	}

</style>
